@import '../../styles/mixins';
@import '../../styles/form';

.register-page {
    @include view;
}

.form {

    &__names {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}